{% extends 'base.html' %}

{% load static %}

{% block title %} {{ block.super }} | Habilidades {% endblock %}

{% block content %} 
<article class="card-panel section hoverable">
		<h4 class="blue-text">Mis Habilidades</h4>
		<div class="row">
			{% for skill in skills %}
			<div class="col s12 l6">
				<article class="card">
					<div class="card-image">
					{% if skill.photo %}
					<img src="{{ skill.photo.url }}" class="size-skill-img" data-skill="photo">
					{% else %}
					<img src="{% static 'img/not.jpeg' %}" class="size-skill-img" data-skill="default">
					{% endif %}
					</div>
					<div class="card-content">
						<h4 class="card-title blue-text" data-skill="skill"> {{ skill.name }} </h4>
						<p>{{ skill.description }}</p>
					</div>
				</article>
			</div>
			{% empty %}
			<h5 class="white-text blue lighten-1 chip" data-skill-info="msj">Aún no tiene habilidades agregadas.</h5>
			{% endfor %}
		</div>
	<div class="card-action">
		<a href="{% url 'home:index' %}"><i class="material-icons">arrow_back</i></a>
	</div>
</article>
{% endblock %}