{% extends 'base.html' %}

{% load static %}

{% block title %} {{ block.super }} | Home {% endblock %}

{% block information %}
	<article class="card-panel section">
		<div class="row">
			<div class="col s12">
				{% if not profile.photo %}
				<img src="{% static 'img/default.jpg'%}" class="circle responsive-img" id="photo" data-name="default" alt="Default">
				{% else %}
				<img src="{{ profile.photo.url }}" class="circle responsive-img" id="photo" data-name="photo" alt="{{ profile.name }}">
				{% endif%}
			</div>
			<div class="col s12">
				<h5>¿Y quién soy?</h5>
				<p id="biography">{{ profile.biography }}</p>
			</div>
		</div>
		<div class="divider"></div>
		<div class="row">
			<div class="col s12">
				<h5> <i class="material-icons left">account_circle</i> Contactos</h5>
				{% if profile.phone_number %}
				<p><i class="material-icons">phone</i> <span id="phone-number">{{ profile.phone_number }}</span></p>
				{% else %}
				<p><i class="material-icons">phone</i> <span id="phone-number"> S/N </span></p>				
				{% endif%}
				<p><i class="material-icons left">email</i> <small>{{ profile.email }}</small></p>
			</div>
		</div>
		<div class="divider"></div>
		<div class="row">
			<div class="col s12">
				<h5>Dirección <i class="material-icons left">place</i> </h5>
				<p id="address">{{ profile.address }}</p>
			</div>
		</div>
	</article>
{% endblock %}

{% block content %}
<article class="card-panel section hoverable">
		<h4 class="blue-text">Mis Habilidades</h4>
		<div class="row">
			{% for skill in skills %}
			<div class="col s12 l6">
				<article class="card">
					<div class="card-image">
					{% if skill.photo %}
					<img src="{{ skill.photo.url }}" class="size-skill-img" data-skill="photo">
					{% else %}
					<img src="{% static 'img/not.jpeg' %}" class="size-skill-img" data-skill="default">
					{% endif %}
					</div>
					<div class="card-content">
						<h4 class="card-title blue-text" data-skill="skill"> {{ skill.name }} </h4>
						<p>{{ skill.description }}</p>
					</div>
				</article>
			</div>
			{% empty %}
			<h5 class="white-text blue lighten-1 chip" data-skill-info="msj">Aún no tiene habilidades agregadas.</h5>
			{% endfor %}
		</div>
	<div class="card-action">
		<a href="{% url 'profile:skills' profile.pk %}" id="link-skills"><i class="material-icons">more</i></a>
	</div>
</article>

<article class="card-panel section hoverable">
	<h4 class="blue-text">Proyectos realizados</h4>	
	<div class="row">
		<div class="col s12 l6">
			<article class="card">
				<div class="card-image">
					<img src="{% static 'img/travis.png' %}" class="size-skill-img">
				</div>
				<div class="card-content">
					<h4 class="card-title blue-text"> Sistema de Control de Asistencias </h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At nam maxime nostrum velit, commodi deleniti consequatur! Dicta minima maxime, aliquid dolore animi, at, eum, laborum eveniet incidunt doloremque deserunt. Quis.</p>
				</div>
			</article>
		</div>
	</div>
	<div class="card-action">
		<a href="#"><i class="material-icons">more</i></a>
	</div>
</article>

<article class="card-panel section hoverable">
	<h4 class="blue-text"> Servicios que ofrezco</h4>
		
	
	<div class="card-action">
		<a href="#"><i class="material-icons">more</i></a>
	</div>
</article>
{% endblock %}