<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
	<meta charset="UTF-8">
	<title>{% block title %} Mi Portafolio {% endblock %}</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="keywords" content="Desarrollador, portafolio, programador web">
	<meta name="author" content="Engel Pinto">
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/css/materialize.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/font/icon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
	<main>
		<header class="blue white-text">
			<div class="row">
				<div class="col s12 center">
					<h1>Mi Portafolio</h1>
					<p>Presta mucha atención a mi portafolio</p>
				</div>
			</div>
		</header>
		<nav>
			<div class="nav-wrapper blue">
				<a href="#" class="sidenav-trigger" data-target="mobile-sidenav"><i class="material-icons">dashboard</i></a>

				<ul class="hide-on-med-and-down">
					<li>
						<a href="{% url 'home:index' %}">Home 
							<i class="material-icons left">home</i>
						</a>
					</li>
					<li>
						<a href="#">Contacts
							<i class="material-icons left">contacts</i>
						</a>
					</li>
					<li>
						<a href="#">Hobbies 
							<i class="material-icons left">favorite</i>
						</a>
				</li>
				</ul>
			</div>
		</nav>
		<ul class="sidenav" id="mobile-sidenav">
			<ul>
					<li>
						<a href="{% url 'home:index' %}">Home 
							<i class="material-icons left">home</i>
						</a>
					</li>
					<li>
						<a href="#">Contacts
							<i class="material-icons left">contacts</i>
						</a>
					</li>
					<li>
						<a href="#">Hobbies 
							<i class="material-icons left">favorite</i>
						</a>
				</li>
				</ul>
			</div>
		</ul>
		<section id="content">
			<div class="row">
				<div class="col s12 l3 section">
				{% block information %}
					
				{% endblock %}
				</div>
				<div class="col s12 l9">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</section>
	</main>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'materialize/js/materialize.min.js' %}"></script>
	<script src="{% static 'js/portafolio.js' %}"></script>

</body>
</html>